/* *{
    color: white;
    font-family: sans-serif;
    transition: 0.2s ease-in-out;
    user-select: none;
} */

.align{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* body{
    background-color: #252A34;
    margin: 0;
    padding: 0;
    width: 100vw;
    text-align: center;
    padding-top: 5vh;
} */

.first_container{
    width: 170px;
    height: 80px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
}

.first_container h3{
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
}

.first_container .first_box{
    border: 3px solid #000;
    font-size: 1.6rem;
    font-weight: 700;
}

.first_container .first_box:nth-child(even){
    border-right: none;
}

.bg{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85px;
    height: 40px;
    background-color: #FF2E63;
    transition: 0.2s ease-in-out;
}

.first_box.align {
    position: relative;
    z-index: 1;
}

.main_grid
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 250px;
    width: 250px;
    margin: 30px auto;
    border: 2px solid black;
}
.box
{
    cursor: pointer;
    font-size: 2rem;
    border: 2px solid black;
    font-weight: bold !important;
}


.box:hover
{
    background-color: #FF2E63;
}

.main_grid.player-o-turn .box:hover {
    background-color: #08D9D6;
}

.box.filled {
    cursor: not-allowed;
}

#play-again
{
    background-color: #FF2E63;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    display: none;
}
#play-again:hover
{
    padding: 10px 40px;
    background-color: #08D9D6;
    color:#000;
}

.main_Xo {
    width: 500px;
    height: 550px;
    border: 1px solid white;
    margin: auto;
    position: absolute;
    top: 15%;
    left: 40%;
    color: white;
    font-family: sans-serif;
    transition: 0.2s ease-in-out;
    user-select: none;
    background-color: #233354;
    text-align: center;
    padding-top: 5vh;
    

    
}

.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
}